h1{
    background-color: aqua;
    font-family: monospace;
    font-weight: 700;
    text-align: center;   
}

body{
    background-color: grey;
    opacity: 1;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1;
}